.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 48;
    font-size: 44px;
    color: black;
}

.btn {
    border-width: 0;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.roboto-mono-font {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: none;
    font-weight: 400;
    font-style: normal;
    font-size: 13px !important;
    color: black;
}

.roboto-mono-font::selection {
    background: #000 !important;
    color: white !important;
    text-shadow: none !important;
}

.settings {
    text-align: left;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
}

.settings-row {
    display: flex;
    margin: 5px;
    color: black;
}

.settings-btn {
    margin-left: 2.5px;
    margin-right: 2.5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 75px;
}

/* Source - https://stackoverflow.com/a/4407335*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#user-interface {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 70px;
    margin: 10px;
    display: none;
    color: black;
}

#menu-icon {
    position: absolute;
    margin: 10px;
}

#shuffle-btn {
    text-align: center;
    width: 100%;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: black;
    border-width: 1.5px;
    border-style: solid;
    display: block;
}

#shuffle-btn:hover {
    background-color: black !important;
    color: white !important;
}

#reset-btn {
    text-align: center;
    width: 100%;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: black;
    border-width: 1.5px;
    border-style: solid;
    display: block;
}

#reset-btn:hover {
    background-color: black !important;
    color: white !important;
}

#dimension-settings {
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
    margin: 5px;
    color: black;
}

#slider-bar {
    height: auto;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-top: 15px;
}

#slider:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

img {
    pointer-events: none;
}

body {
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 120px;
}
